{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <title>Barreiro Blog</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/app.css' %}">
        <script src="{% static 'blog/js/app.js' %}"></script>
    </head>

    <body>
        <div class="container-wrapper">
            {% block content %}

            {% endblock content %}
        </div>
    </body>
</html>