{% extends "blog/base.html" %}
{% block content %}
    <div class="post-list">
        {% for post in post_list %}
            <div class="post">
                <a href="{% url 'blog:post_detail' post.slug  %}" class="content">
                    {% if post.image %}
                        <img class="image" src="{{post.image.url}}" alt="{{ post.title }}" />
                    {% endif %}
                    <h2 class="title">{{ post.title }}</h2>
                    {% if post.summary %}
                        <div class="summary">{{post.summary}}</div>
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
    {% block sidebar %} {% include 'blog/sidebar.html' %} {% endblock sidebar %}

    {% if is_paginated %}
      <nav aria-label="Page navigation conatiner">
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
          </ul>
      </nav>
    {% endif %}
{%endblock%}