{% extends "blog/base.html" %}
{% block content %}
    <div class="post-list">
        {% for post in post_list %}
            <div class="post">
                <div class="content">
                    {% if post.image %}
                        <a href="{% url 'blog:post_detail' post.slug  %}" class="content">
                            <img class="image" src="{{post.image.url}}" alt="{{ post.title }}" />
                        </a>
                    {% endif %}

                    <div class="text-content">
                        <a class="badge badge-pill badge-secondary" href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a>
                        <h2 class="title-container"><a href="{% url 'blog:post_detail' post.slug  %}" class="title">{{ post.title }}</a></h2>
                        {% if post.summary %}
                            <div class="summary">{{post.summary}}</div>
                        {% endif %}
                        <div class="date">{{ post.created_at |date }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% block sidebar %} {% include 'blog/sidebar.html' %} {% endblock sidebar %}

    {% if is_paginated %}
      <nav aria-label="Page navigation conatiner">
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
          </ul>
      </nav>
    {% endif %}
{%endblock%}