{% extends 'blog/base.html' %} {% block content %}
    {% load crispy_forms_tags %}
    <div class="post-detail">
        <div class="container first">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <a href="{{ post.category.get_absolute_url }}"
                       class="badge badge-pill badge-secondary">{{ post.category.name }}</a>
                    <h1 class="title">{% block title %} {{ post.title }} {% endblock title %}</h1>
                    {% if post.summary %}
                        <div class="summary">{{ post.summary }}</div>
                    {% endif %}
                    <div class="meta-info">
                        <div class="author-avatar">
                            <img src="/static/blog/images/barreiro.png" alt="Carlos Barreiro"
                                 class="author-avatar__img">
                        </div>
                        <div class="text-meta-info">
                            <div class="author-name">Carlos Barreiro García</div>
                            <div class="date">{{ post.created_at |date }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="content">
                        {% if post.image %}
                            <img class="image" src="{{ post.image.url }}" alt="{{ post.title }}"/>
                        {% endif %}
                        {{ post.content | safe }}
                    </div>
                    <div class="badges">
                        {% for tag in post.tags.all %}
                            <a href="{% url 'blog:tag' tag.slug %}"
                               class="badge badge-pill badge-warning">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-8 mx-auto">
                    <div class="comments">
                        <!-- comments -->
                        <h2 class="count">{{ comments.count }} comentarios</h2>

                        {% for comment in comments %}
                            <div class="comment">
                                <p class="font-weight-bold">
                                    {{ comment.name }}
                                    <span class=" text-muted font-weight-normal">
                                      {{ comment.created_at }}
                                    </span>
                                </p>
                                {{ comment.body | linebreaks }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-8 mx-auto">
                    <div class="form-comment">
                        {% if new_comment %}
                            <div class="alert alert-success" role="alert">
                                ¡Gracias por tu comentario! Se publicará tras revisarse.
                            </div>
                        {% else %}
                            <h3 class="form-title">Deja un comentario</h3>
                            <form method="post">
                                {{ comment_form | crispy }}
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary  btn-lg">Enviar</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}